#square-selection-table {
	--perspective-distance: 9cm;
	--rotation: 0.1turn;
	--negative-rotation: -0.1turn;
}

button {
	background: none;
	border: none;
}

.square-image {
	width: 5rem;
	height: 5rem;
}

.skewed-square-top {
	transform: perspective(var(--perspective-distance)) rotateX(var(--rotation));
}

.skewed-square-bottom {
	transform: perspective(var(--perspective-distance)) rotateX(var(--negative-rotation));
}

.skewed-square-left {
	transform: perspective(var(--perspective-distance)) rotateY(var(--negative-rotation));
}

.skewed-square-right {
	transform: perspective(var(--perspective-distance)) rotateY(var(--rotation));
}